.card {
  &__item {
    display: flex;
    align-items: start;
    column-gap: 34px;
    border-top: 1px solid var(--color-black);
    padding-top: 32px;

    @include desktop {
      padding-top: 16px;
      column-gap: 17px;
    }

    &:not(:last-child) {
      padding-bottom: 76px;

      @include desktop {
        padding-bottom: 52px;
      }

      @include tablet {
        padding-bottom: 36px;
      }
    }
  }

  &__number {
    &-accent {
      color: var(--color-accent);
    }

    &-purple {
      color: var(--color-purple);
    }

    &-blue {
      color: var(--color-blue);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include desktop {
      row-gap: 16px;
    }
  }

  &__link {
    width: 470px;
    position: relative;
    display: flex;
    align-items: center;

    @include desktop {
      width: 440px;
    }

    @include tablet {
      width: 320px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__icon-arrow {
    position: absolute;
    right: 0;
    width: 68px;
    aspect-ratio: 1;
    padding: 18px;
    background: url("../../icons/white-arrow.svg") center no-repeat;
    border-radius: 50%;

    @include desktop {
      width: 48px;
    }

    &-accent {
      background-color: var(--color-accent);
    }

    &-purple {
      background-color: var(--color-purple);
    }

    &-blue {
      background-color: var(--color-blue);
    }
  }
}
