@font-face {
  font-family: "Nexa Text-Trial Extra";
  src: url("../fonts/NexaText-Trial-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Text-Trial";
  src: url("../fonts/NexaText-Trial-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Text-Trial";
  src: url("../fonts/NexaText-Trial-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Argue DEMO";
  src: url("../fonts/ArgueDEMO.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
