body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-magenta);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  @include fluid-text(20, 18);

  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

h1,
.h1 {
  @include fluid-text(80, 50);
  font-family: var(--font-family-accent);
}

h2,
.h2 {
  @include fluid-text(60, 54);
}

h3,
.h3 {
  @include fluid-text(40, 36);
}

h4,
.h4 {
  @include fluid-text(30, 24);
}
