*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@font-face {
  font-family: "Nexa Text-Trial Extra";
  src: url("../fonts/NexaText-Trial-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa Text-Trial";
  src: url("../fonts/NexaText-Trial-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa Text-Trial";
  src: url("../fonts/NexaText-Trial-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Argue DEMO";
  src: url("../fonts/ArgueDEMO.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

:root {
  --color-light: #ffffff;
  --color-black: #000000;
  --color-accent: #f65606;
  --color-magenta: #eef1fb;
  --color-purple: #bf6fe1;
  --color-yellow: #f7cc5d;
  --color-blue: #1a1d30;
  --color-gray: #dee1e9;
  --border: 1px solid var(--color-blue);
  --border-radius: 6px;
  --box-shadow: 50px 50px 100px #00000040;
  --container-width: 1375px;
  --container-padding-x: 15px;
  --font-family-base: "Nexa Text-Trial", sans-serif;
  --font-family-accent: "Argue DEMO", sans-serif;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(16px, 1.125vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-magenta);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  font-size: clamp(18px, 1.25vw, 20px);
  text-decoration: none;
  color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-family-accent);
  font-weight: 400;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: clamp(50px, 5vw, 80px);
}

h2,
.h2 {
  font-size: clamp(48px, 3.75vw, 60px);
}

h3,
.h3 {
  font-size: clamp(36px, 2.5vw, 40px);
  line-height: 1;
}

h4,
.h4 {
  font-size: clamp(24px, 1.875vw, 30px);
}

.hide {
  display: none !important;
}

.slider-controls {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
  cursor: pointer;
}
.slider-control {
  font-family: var(--font-family-accent);
  font-size: 50px;
  text-align: center;
}
.slider-control:hover {
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
.slider-control.active {
  border: var(--border);
  border-radius: 50%;
  padding: 15px 35px 5px;
}
.slider-control.active:hover {
  border-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 13px 45px;
}
.button:hover {
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.button:active {
  background-color: transparent;
  color: var(--color-black);
}
.button--alt {
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.button--alt:active {
  background-color: transparent;
  color: var(--color-black);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 115px;
}
@media (max-width: 1280px) {
  .header {
    padding: 24px 55px;
  }
}
@media (max-width: 1023px) {
  .header {
    padding: 12px 27px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 82px;
       column-gap: 82px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 41px;
         column-gap: 41px;
  }
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
}
.header__menu-link:hover::after {
  width: 100%;
}
.header__menu-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1023px) {
  .header__menu-button {
    padding: 6px 23px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  background-image: url("../../images/hero/hero-bg-test.png");
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .hero {
    padding-inline: 15px;
    row-gap: 50px;
  }
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
}
@media (max-width: 1280px) {
  .hero__top {
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .hero__top {
    row-gap: 150px;
  }
}
.hero__top-info {
  position: relative;
  display: flex;
  z-index: 5;
}
@media (max-width: 767px) {
  .hero__top-info {
    flex-direction: column;
  }
}
.hero__top-controls {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
  z-index: 5;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .hero__top-controls {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 480px) {
  .hero__top-controls {
    flex-direction: column;
    row-gap: 15px;
  }
}
.hero__top-image {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  align-self: start;
  z-index: 1;
}
@media (max-width: 1280px) {
  .hero__top-image {
    width: 130px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .hero__top-image {
    margin-top: 75px;
    align-self: center;
  }
}
@media (max-width: 480px) {
  .hero__top-image {
    margin-left: 140px;
  }
}
.hero__top-image::before {
  position: absolute;
  content: "";
  top: -265%;
  left: -140%;
  width: 420px;
  height: 619px;
  background-image: url("../../images/hero/hero-woman.png");
  z-index: -1;
}
@media (max-width: 1500px) {
  .hero__top-image::before {
    top: -185%;
    left: -95%;
    width: 305px;
    height: 425px;
    background-size: cover;
  }
}
@media (max-width: 1280px) {
  .hero__top-image::before {
    top: -318%;
    left: -125%;
    width: 210px;
    height: 308px;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .hero__top-image::before {
    top: -318%;
    left: -125%;
    width: 210px;
    height: 308px;
    background-size: cover;
  }
}
.hero__title {
  line-height: 1;
}
@media (max-width: 480px) {
  .hero__title {
    text-align: center;
    line-height: 1.4;
  }
}
.hero__link {
  position: relative;
  align-self: end;
}
.hero__link::before {
  position: absolute;
  content: "";
  top: -100px;
  right: -120px;
  width: 110px;
  aspect-ratio: 1;
  background-image: url("../../icons/face.svg");
  background-color: var(--color-blue);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .hero__link::before {
    top: 12px;
    right: 220px;
  }
}
@media (max-width: 480px) {
  .hero__link::before {
    right: 160px;
  }
}
.hero__link-arrow {
  position: absolute;
  content: "";
  top: -90px;
  right: -190px;
  width: 33px;
  aspect-ratio: 1;
  background: url("../../icons/purple-arrow.svg") center no-repeat;
  background-color: var(--color-light);
  border-radius: 50%;
  padding: 39px;
  border: 10px solid var(--color-magenta);
}
@media (max-width: 767px) {
  .hero__link-arrow {
    top: 23px;
    right: 145px;
  }
}
@media (max-width: 480px) {
  .hero__link-arrow {
    right: 85px;
  }
}
.hero__button-alt {
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.hero__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  align-self: start;
  margin-block: -265px;
}
@media (max-width: 1280px) {
  .hero__bottom {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .hero__bottom {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
}
.hero__bottom-left {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 180px;
       column-gap: 180px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--color-light);
  background-color: var(--color-blue);
  padding: 70px 95px;
}
@media (max-width: 1500px) {
  .hero__bottom-left {
    padding: 60px 50px;
    -moz-column-gap: 130px;
         column-gap: 130px;
  }
}
@media (max-width: 1280px) {
  .hero__bottom-left {
    padding: 30px 25px;
    -moz-column-gap: 65px;
         column-gap: 65px;
  }
}
.hero__bottom-left-side {
  position: relative;
}
.hero__bottom-left-side::after {
  position: absolute;
  content: "";
  top: -30%;
  left: 150%;
  width: 1px;
  height: 220px;
  background-image: url("../../images/hero/hero-line.png");
}
@media (max-width: 1500px) {
  .hero__bottom-left-side::after {
    top: -40%;
    left: 136%;
  }
}
@media (max-width: 1280px) {
  .hero__bottom-left-side::after {
    top: -20%;
    left: 118%;
    height: 150px;
  }
}
.hero__bottom-right {
  margin-right: 73px;
}
@media (max-width: 1500px) {
  .hero__bottom-right {
    margin-right: 30px;
  }
}
@media (max-width: 1500px) {
  .hero__bottom-image {
    width: 390px;
    height: 580px;
  }
}
@media (max-width: 1280px) {
  .hero__bottom-image {
    width: 195px;
    height: 280px;
  }
}
@media (max-width: 767px) {
  .hero__bottom-image {
    width: 385px;
    height: 550px;
  }
}

.business {
  display: flex;
  align-items: start;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 204px;
  margin-top: 265px;
}
@media (max-width: 1280px) {
  .business {
    margin-top: 170px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .business {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    padding-inline: 15px;
  }
}
.business__left {
  display: flex;
  flex-direction: column;
  row-gap: 122px;
}
@media (max-width: 1280px) {
  .business__left {
    row-gap: 60px;
  }
}
@media (max-width: 767px) {
  .business__left {
    row-gap: 30px;
  }
}
.business__left-header {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  padding-left: 100px;
}
@media (max-width: 1280px) {
  .business__left-header {
    row-gap: 19px;
    padding-left: 50px;
  }
}
@media (max-width: 1023px) {
  .business__left-header {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .business__left-header {
    padding-left: 0;
    text-align: center;
  }
}
.business__left-body {
  position: relative;
  width: 370px;
}
.business__left-body::after {
  position: absolute;
  content: "A design so unique, it was created for you";
  top: 9%;
  right: -35%;
  width: 184px;
  height: 44px;
}
@media (max-width: 1280px) {
  .business__left-body::after {
    top: 5%;
    right: 7%;
  }
}
@media (max-width: 1023px) {
  .business__left-body::after {
    top: 4%;
    right: 4%;
  }
}
@media (max-width: 767px) {
  .business__left-body::after {
    text-align: center;
  }
}
.business__image {
  position: relative;
}
@media (max-width: 1280px) {
  .business__image {
    width: 300px;
    bottom: -37%;
    left: -23%;
  }
}
@media (max-width: 1023px) {
  .business__image {
    width: 250px;
    left: -6%;
  }
}
@media (max-width: 767px) {
  .business__image {
    left: 0;
  }
}
.business__description {
  max-width: 493px;
}
.business__list {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}
@media (max-width: 1280px) {
  .business__list {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .business__list {
    padding-right: 0;
  }
}

.card__item {
  display: flex;
  align-items: start;
  -moz-column-gap: 34px;
       column-gap: 34px;
  border-top: 1px solid var(--color-black);
  padding-top: 32px;
}
@media (max-width: 1280px) {
  .card__item {
    padding-top: 16px;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
}
.card__item:not(:last-child) {
  padding-bottom: 76px;
}
@media (max-width: 1280px) {
  .card__item:not(:last-child) {
    padding-bottom: 52px;
  }
}
@media (max-width: 1023px) {
  .card__item:not(:last-child) {
    padding-bottom: 36px;
  }
}
.card__number-accent {
  color: var(--color-accent);
}
.card__number-purple {
  color: var(--color-purple);
}
.card__number-blue {
  color: var(--color-blue);
}
.card__info {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (max-width: 1280px) {
  .card__info {
    row-gap: 16px;
  }
}
.card__link {
  width: 470px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .card__link {
    width: 440px;
  }
}
@media (max-width: 1023px) {
  .card__link {
    width: 320px;
  }
}
@media (max-width: 767px) {
  .card__link {
    width: 100%;
  }
}
.card__icon-arrow {
  position: absolute;
  right: 0;
  width: 68px;
  aspect-ratio: 1;
  padding: 18px;
  background: url("../../icons/white-arrow.svg") center no-repeat;
  border-radius: 50%;
}
@media (max-width: 1280px) {
  .card__icon-arrow {
    width: 48px;
  }
}
.card__icon-arrow-accent {
  background-color: var(--color-accent);
}
.card__icon-arrow-purple {
  background-color: var(--color-purple);
}
.card__icon-arrow-blue {
  background-color: var(--color-blue);
}

.design {
  padding-block: 170px;
}
@media (max-width: 1280px) {
  .design {
    padding-block: 90px;
  }
}
@media (max-width: 1023px) {
  .design {
    padding-block: 70px;
  }
}
.design__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}
@media (max-width: 1280px) {
  .design__inner {
    row-gap: 35px;
  }
}
.design__title {
  max-width: 1148px;
}
@media (max-width: 1023px) {
  .design__title {
    text-align: center;
  }
}
.design__content {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
@media (max-width: 1280px) {
  .design__content {
    row-gap: 35px;
  }
}
@media (max-width: 767px) {
  .design__content {
    row-gap: 60px;
  }
}
.design__top {
  display: flex;
  align-items: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
@media (max-width: 1280px) {
  .design__top {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}
@media (max-width: 1023px) {
  .design__top {
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .design__top {
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
  }
}
.design__top-description {
  max-width: 457px;
}
.design__top-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 52px;
}
@media (max-width: 1280px) {
  .design__top-content {
    row-gap: 26px;
  }
}
@media (max-width: 767px) {
  .design__top-content {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1280px) {
  .design__top-image {
    width: 604px;
  }
}
@media (max-width: 1023px) {
  .design__top-image {
    width: 404px;
  }
}
@media (max-width: 767px) {
  .design__top-image {
    width: 100%;
  }
}
.design__bottom {
  display: flex;
  align-items: center;
  -moz-column-gap: 156px;
       column-gap: 156px;
}
@media (max-width: 1280px) {
  .design__bottom {
    -moz-column-gap: 78px;
         column-gap: 78px;
  }
}
@media (max-width: 767px) {
  .design__bottom {
    flex-direction: column;
    row-gap: 15px;
  }
}
.design__bottom-number {
  font-size: clamp(72px, 11.25vw, 180px);
  font-family: var(--font-family-accent);
}
@media (max-width: 767px) {
  .design__bottom-number {
    line-height: 1;
  }
}
.design__bottom-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1280px) {
  .design__bottom-content {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
@media (max-width: 767px) {
  .design__bottom-content {
    flex-direction: column;
  }
}
.design__bottom-info {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
@media (max-width: 1280px) {
  .design__bottom-info {
    row-gap: 10px;
  }
}
.design__bottom-description {
  max-width: 555px;
}
.design__bottom-image {
  margin-block: -310px;
}
@media (max-width: 1280px) {
  .design__bottom-image {
    margin-block: -250px;
  }
}
@media (max-width: 1023px) {
  .design__bottom-image {
    margin-block: 0;
  }
}

.fun {
  position: relative;
  padding-top: 190px;
  padding-bottom: 120px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 130px;
  background: url("../../images/fun/fun-bg.png") center/cover no-repeat;
}
@media (max-width: 1280px) {
  .fun {
    padding-top: 130px;
    padding-bottom: 90px;
  }
}
@media (max-width: 1023px) {
  .fun {
    row-gap: 200px;
  }
}
@media (max-width: 767px) {
  .fun {
    padding-inline: 15px;
  }
}
.fun__controls {
  position: absolute;
  top: 30%;
  left: 50%;
}
@media (max-width: 1280px) {
  .fun__controls {
    top: 27%;
    left: 43%;
  }
}
@media (max-width: 1023px) {
  .fun__controls {
    top: 10%;
    left: 40%;
  }
}
.fun__cards {
  display: flex;
  -moz-column-gap: 153px;
       column-gap: 153px;
  margin-left: 250px;
}
@media (max-width: 1500px) {
  .fun__cards {
    -moz-column-gap: 85px;
         column-gap: 85px;
  }
}
@media (max-width: 1280px) {
  .fun__cards {
    -moz-column-gap: 130px;
         column-gap: 130px;
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .fun__cards {
    flex-direction: column;
    row-gap: 50px;
  }
}
.fun__cards-item {
  display: flex;
  flex-direction: column;
  row-gap: 43px;
}
@media (max-width: 1023px) {
  .fun__cards-item {
    row-gap: 20px;
  }
}
.fun__cards-item--start {
  margin-left: 260px;
}
@media (max-width: 1500px) {
  .fun__cards-item--start {
    margin-left: 150px;
  }
}
@media (max-width: 1280px) {
  .fun__cards-item--start {
    margin-left: 0;
  }
}
.fun__cards-item--alt {
  margin-block: 155px;
}
@media (max-width: 1023px) {
  .fun__cards-item--alt {
    margin-block: 0;
  }
}
.fun__cards-image {
  max-width: 514px;
  height: 581px;
}
@media (max-width: 1280px) {
  .fun__cards-image {
    width: 100%;
  }
}
.fun__cards-link {
  position: relative;
}
.fun__cards-link:hover {
  color: var(--color-accent);
}
.fun__cards-link::after {
  position: absolute;
  content: "";
  top: 30%;
  right: 65%;
  width: 15px;
  aspect-ratio: 1;
  background-image: url("../../icons/blue-arrow.svg");
}

.product {
  padding-top: 114px;
  padding-bottom: 228px;
}
@media (max-width: 1280px) {
  .product {
    padding-top: 70px;
    padding-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .product {
    padding-bottom: 70px;
  }
}
.product__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
@media (max-width: 1280px) {
  .product__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .product__inner {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .product__title {
    text-align: center;
  }
}
.product__left {
  display: flex;
  flex-direction: column;
  row-gap: 118px;
}
@media (max-width: 1280px) {
  .product__left {
    row-gap: 60px;
  }
}
@media (max-width: 1023px) {
  .product__left {
    row-gap: 30px;
  }
}
.product__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 130px;
       column-gap: 130px;
}
@media (max-width: 1280px) {
  .product__content {
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
}
@media (max-width: 1023px) {
  .product__content {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.product__content-left {
  position: relative;
}
.product__content-left::before, .product__content-left::after {
  position: absolute;
  content: "";
  width: 95px;
  aspect-ratio: 1;
}
.product__content-left::before {
  top: -17%;
  left: -20%;
  background-image: url("../../icons/yellow-star.svg");
}
.product__content-left::after {
  top: -40%;
  left: 23%;
  background-image: url("../../icons/blue-star.svg");
}
.product__content-right {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
@media (max-width: 1023px) {
  .product__content-right {
    row-gap: 18px;
  }
}
.product__content-right-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.product__content-right-description {
  max-width: 437px;
}
.product__content-right-controls {
  margin-top: 53px;
}
@media (max-width: 1280px) {
  .product__content-right-controls {
    margin-top: 30px;
  }
}
@media (max-width: 1023px) {
  .product__content-right-controls {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .product__content-right-controls {
    margin-block: 60px;
  }
}

.action {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 150px;
  background: url("../../images/action/action-bg.png") center/cover no-repeat;
}
@media (max-width: 1280px) {
  .action {
    padding-top: 60px;
    padding-bottom: 75px;
  }
}
.action__inner {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .action__inner {
    justify-content: center;
    align-items: center;
  }
}
.action__top {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1280px) {
  .action__top {
    row-gap: 25px;
  }
}
@media (max-width: 1023px) {
  .action__top {
    text-align: center;
  }
}
.action__top-info {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
@media (max-width: 1280px) {
  .action__top-info {
    row-gap: 10px;
  }
}
.action__top-button {
  align-self: start;
}
@media (max-width: 1023px) {
  .action__top-button {
    align-self: center;
  }
}
.action__menu {
  display: flex;
  align-items: start;
  justify-content: end;
  -moz-column-gap: 105px;
       column-gap: 105px;
  margin-right: 280px;
  margin-top: -20px;
}
@media (max-width: 1280px) {
  .action__menu {
    -moz-column-gap: 52px;
         column-gap: 52px;
    margin-top: 100px;
  }
}
@media (max-width: 1023px) {
  .action__menu {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .action__menu {
    flex-direction: column;
    row-gap: 30px;
  }
}
.action__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 1280px) {
  .action__menu-list {
    row-gap: 15px;
  }
}
.action__menu-link:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.action__menu-link--bordered {
  border-bottom: 2px solid var(--color-gray);
}/*# sourceMappingURL=style.css.map */